/*** =================================================================***/
/*                               ANIMATION                              */
/*** =================================================================***/

/* Nav Menu Animation*/
.active-nav-menu
  animation: navMenuAnimation .3s ease-in-out forwards

@keyframes navMenuAnimation
  0%
    border-radius: 20%
    transform: scale(0)
  100%
    border-radius: 0
    transform: scale(1)

/* Disable Nav Menu Animation*/
.disable-nav-menu
  animation: navMenuAnimationDis .2s ease-in-out forwards

@keyframes navMenuAnimationDis
  0%
    border-radius: 0
    transform: scale(1)
  100%
    border-radius: 20%
    transform: scale(0)

/* Logo Spin Animation */

@keyframes spin
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

@keyframes spinReverse
  from
    transform: rotate(0)
  to
    transform: rotate(-360deg)


/* Headline Animation*/

.animation-h2
  animation: headlineUp 1s ease .6s forwards
  transform: translate3d(0,100%,0)

.animation-h3
  animation: headlineDown 1s ease .6s forwards
  transform: translate3d(0,-100%,0)

@keyframes headlineUp
  from
    transform: translate3d(0,100%,0)
  to
    transform: translate3d(0,0%,0)

@keyframes headlineDown
  from
    transform: translate3d(0,-100%,0)
  to
    transform: translate3d(0,0%,0)
    color: #242424

@keyframes headlineLine
  from
    transform: translate3d(-100%,0,0)
  to
    transform: translate3d(0,0,0)

@keyframes huracanLogo
  0%
    stroke-dashoffset: -4600
  50%
    stroke-dashoffset: 0
    fill: transparent
  100%
    fill: #11141b
