.header
  h1.logo {% include logo/nectar-logo.html %}
  nav.nav-main.flex-col(role="navigation")
    a(href="") Nepal
    a(href="") Ethiopia
    a(href="") Ecuador
    a(href="") Sumatra
    a(href="") Columbia
    a(href="") Blue Mountain
