<!-- ============== Articles Section ============== -->

section.card
  .card--content-preview {% for description in site.data.settings.description %}
    .card--product-wrapper
      .card--local-beauty(style="background-image: url(assets/img/{{ description.local-image }});")
      .card--short-description
        h2 {{ description.product-location }}
        p {{ description.description-text-short }}      
      a.card--link-to-full(href="#{{ description.product-name }}")
        .card--product-logo {% include logo/blackburn-logo.html %}
        span {{ description.product-name }}
    | {% endfor %}

  | {% for description in site.data.settings.description %}
  .card--content-full(id="{{ description.product-name }}")
    .card--product-image(style="background-image: url(assets/img/{{ description.product-image }});")      
    .card--text
      span.simple-line
        h2.headline-one {{ description.product-location }}
      span
        h3.headline-two {{ description.product-name }}
      p {{ description.description-text }}
      a(href="#main").card--backbutton {% include logo/close-cross.html %} Close
    .card--logotype
  | {% endfor %}
