section.main  
  nav.nav-main(role="navigation" aria-label="Menu")
    .nav-main--hamburger
      span.span-one
      span.span-two
      span.span-three
    .nav-main--menu-wrapper
      a.nav-main-link(href="#Nepal") Nepal
      a.nav-main-link(href="#Ethiopia") Ethiopia
      a.nav-main-link(href="#Ecuador") Ecuador
      a.nav-main-link(href="#Sumatra") Sumatra
      a.nav-main-link(href="#Columbia") Columbia
      a.nav-main-link(href="#Blue Mountain") Blue Mountain
