section.main
  
  .main--huracan-logo {% include logo/huracan-logo.html %}  
  .main--orbit
    .main--small-logo.sumatra-logo {% include logo/sumatra.html %}
    .main--small-logo.supremo-logo {% include logo/supremo.html %}
    .main--small-logo.maragogipe-logo {% include logo/maragogipe.html %}
    .main--small-logo.losplanes-logo {% include logo/los_planes.html %}
    .main--small-logo.yirgacheffe-logo {% include logo/yirgacheffe.html %}
    .main--small-logo.bluemountain-logo {% include logo/blue_mountain.html %}
  
  nav.nav-main(role="navigation" aria-label="Menu")
    .nav-main--hamburger
      span.span-one
      span.span-two
      span.span-three
    .nav-main--menu-wrapper
      a.nav-main--link(href="#Sumatra") Sumatra
      a.nav-main--link(href="#Supremo") Supremo
      a.nav-main--link(href="#Maragogipe") Maragogipe
      a.nav-main--link(href="#Los_Planes") Los_Planes
      a.nav-main--link(href="#Yirgacheffe") Yirgacheffe
      a.nav-main--link(href="#Blue_Mountain") Blue_Mountain
