/*** =================================================================***/
/*                           VARIABLES                                  */
/*** =================================================================***/
$documentBackgroundColor: #fff
$bodyColor: #e6e6e8
$headlineColor: #333
$textColor: #666
$linkColor: #5e5e5e
$linkColorHover: #2e2e2e
$sectionColor: rgb(255,255,158)
$accent: #c99065
$accent-light: #e1c184


.flex-row
  display: flex
  flex-direction: row

.flex-col
  display: flex
  flex-direction: column
