
<section class="main"> 
  <nav class="nav-main" role="navigation" aria-label="Menu">
    <div class="nav-main--hamburger"><span class="span-one"></span><span class="span-two"></span><span class="span-three"></span></div>
    <div class="nav-main--menu-wrapper"><a class="nav-main-link" href="#Nepal">Nepal</a><a class="nav-main-link" href="#Ethiopia">Ethiopia</a><a class="nav-main-link" href="#Ecuador">Ecuador</a><a class="nav-main-link" href="#Sumatra">Sumatra</a><a class="nav-main-link" href="#Columbia">Columbia</a><a class="nav-main-link" href="#Blue Mountain">Blue Mountain</a></div>
  </nav>
</section>