
<section class="main">
  <div class="main--huracan-logo">{% include logo/huracan-logo.html %}  </div>
  <div class="main--orbit">
    <div class="main--small-logo sumatra-logo">{% include logo/sumatra.html %}</div>
    <div class="main--small-logo supremo-logo">{% include logo/supremo.html %}</div>
    <div class="main--small-logo maragogipe-logo">{% include logo/maragogipe.html %}</div>
    <div class="main--small-logo losplanes-logo">{% include logo/los_planes.html %}</div>
    <div class="main--small-logo yirgacheffe-logo">{% include logo/yirgacheffe.html %}</div>
    <div class="main--small-logo bluemountain-logo">{% include logo/blue_mountain.html %}</div>
  </div>
  <nav class="nav-main" role="navigation" aria-label="Menu">
    <div class="nav-main--hamburger"><span class="span-one"></span><span class="span-two"></span><span class="span-three"></span></div>
    <div class="nav-main--menu-wrapper"><a class="nav-main--link" href="#Sumatra">Sumatra</a><a class="nav-main--link" href="#Supremo">Supremo</a><a class="nav-main--link" href="#Maragogipe">Maragogipe</a><a class="nav-main--link" href="#Los_Planes">Los_Planes</a><a class="nav-main--link" href="#Yirgacheffe">Yirgacheffe</a><a class="nav-main--link" href="#Blue_Mountain">Blue_Mountain</a></div>
  </nav>
</section>